h1, h2, h3, h4, p, label, li{
    font-family: 'Inter', sans-serif;
}
.row {
    display: table;
}
.contacto{
    margin: 12px 0px 0px 0px !important;
    padding: 12px 12px 12px 12px !important;
}
.cuadro [class*="col-"] {
    display: table-cell;
    /* Propiedades de estilo, no afectan al funcionamiento 

    */
    background-color: #0d6efd;
    text-align: center;
    color: #0c60dd;
    border: 12px solid #0846a4;
}
.enviar{
    padding: 5px;
    margin: 25px;
}
.body{
    background-color: #0846a4;
}

i{
    padding: 12px;
}
.oculto{
    display: none;
}
