h1, h2, h3, h4, p, label{
    font-family: 'Inter', sans-serif;
}
.row {
    display: table;
}
.contacto{
    margin: 12px 0px 0px 0px!important;
    padding: 12px 12px 12px 12px !important;
}
.cuadro [class*="col-"] {
    display: table-cell;
    /* Propiedades de estilo, no afectan al funcionamiento 
    */
    background-color: #0d6efd;
    text-align: center;
    
    color: #0d6efd;
    padding-top: 12px;
    border: 12px solid rgb(12, 175, 225);
}

.enviar{
    padding: 5px;
    margin: 25px;
}
.body{
    background-color: rgb(12, 175, 225);
   /* background-image: linear-gradient(180deg, rgb(12, 175, 225), rgb(5, 48, 95));
   #0d6efd;
*/
}

.container{
    margin: 12px;
}
i{
    padding: 12px;
}
.oculto{
    display: none;
}
